{% include 'themes/itgatheme/templates/mails/header-email.html.twig' %}
    Bonjour,<br />
    <br />
    <p>Un compte vient d'être ajouté :</p>
    {{ droit | raw }}
    <br />
    A bientôt.<br />
    L'équipe ITGA
{% include 'themes/itgatheme/templates/mails/footer-email.html.twig' %}