{% include 'themes/itgatheme/templates/mails/header-email.html.twig' %}
    Bienvenue sur MonEspace.ITGA !<br /><br />
    Vous avez effectué votre première connexion à votre Espace client ITGA !<br /><br />
    En tant qu'administrateur délégué, vous avez été nommé par l'administrateur principal pour avoir accès à la gestion de l'espace client de votre entreprise. Vous avez ainsi une vue d'ensemble des interactions de votre société et des collaborateurs avec ITGA.<br /><br />
    Les administrateurs peuvent créer un compte personnel pour chaque collaborateur qui sera rattaché au compte principal, à savoir le vôtre. Cela leur permettra de suivre les activités qui les concernent en lien avec ITGA.<br /><br />
    Téléchargez le guide de prise en main <a href="https://www.itgamaddoc.com/wp-content/uploads/2018/11/Guide-dutilisation-Mon-espace-ITGA.pdf">ici</a><br />
    <br />
    N'attendez plus et découvrez les avantages que nous vous proposons : <br />
    <ul>
        <li>Accessible 24h/7j,</li>
        <li>Suivi de vos commandes analytiques,</li>
        <li>Consultation de vos factures,</li>
        <li>Accès aux actualités en lien avec votre métier,</li>
        <li>Messages à destination de votre agence ITGA</li>
        <li>...</li>
    </ul>
    <br />
    Si vous avez oublié votre mot de passe, cliquez sur le lien suivant « <a href="http://apiextranetauth.itga.fr/api/Auth/View/forgot-password">Mot de passe oublié ?</a> »<br />
    <br />
    Merci de votre confiance et à très bientôt sur votre <a href="www.monespace.itga.fr">Espace</a> client<br />
    <br />
    Le service client ITGA<br />
{% include 'themes/itgatheme/templates/mails/footer-email.html.twig' %}