{% include 'themes/itgatheme/templates/mails/header-email.html.twig' %}
        Bienvenue sur MonEspace.ITGA !<br /><br />
        Vous avez effectué votre première connexion à votre Espace client ITGA !<br /><br />
        En tant qu'administrateur principal, vous êtes le garant de l'espace client ITGA de votre société. Vous pouvez, si vous le souhaitez, nommer un (ou plusieurs) administrateur(s) délégué(s) qui possèdera(ont) alors les mêmes droits que vous.<br /><br />
        Un certain nombre de comptes déjà rattachés à votre compte client ITGA ont été réintégrés dans votre espace. Connectez-vous à MonEspace.ITGA et rendez-vous dans la rubrique « Gestion des Comptes» pour valider leur création.<br /><br />
        Vous pouvez à tout moment créer, modifier ou supprimer des profils utilisateurs. L'ensemble des comptes personnels des collaborateurs seront rattachés au compte principal, à savoir le vôtre. Cela leur permet de suivre les activités qui les concernent en lien avec ITGA.<br /><br />
        Téléchargez le guide de prise en main <a href="https://www.itgamaddoc.com/wp-content/uploads/2018/11/Guide-dutilisation-Mon-espace-ITGA.pdf">ici</a><br /><br />
        <br />
        N'attendez plus et découvrez les avantages que nous vous proposons : <br />
        <ul>
                <li>Accessible 24h/7j,</li>
                <li>Suivi de vos commandes analytiques,</li>
                <li>Consultation de vos factures,</li>
                <li>Accès aux actualités en lien avec votre métier,</li>
                <li>Messages à destination de votre agence ITGA</li>
                <li>...</li>
        </ul>
        <br />
        Si vous avez oublié votre mot de passe, cliquez sur le lien suivant « <a href="http://apiextranetauth.itga.fr/api/Auth/View/forgot-password">Mot de passe oublié ?</a> »<br />
        <br />
        Merci de votre confiance et à très bientôt sur votre <a href="www.monespace.itga.fr">Espace</a> client<br />
        <br />
        Le service client ITGA<br />
{% include 'themes/itgatheme/templates/mails/footer-email.html.twig' %}a