
        </td>
    </tr>
<tr style="text-align: left; ">
    <td style="padding-top: 20px"> <img src="https://{{ base_path }}/themes/itgatheme/assets/images/itga.png" width="51" height="51" alt=""/></td>
    <td style="padding-top: 20px; text-align: left"> <i>Ceci est un email automatique, pour toute question écrivez à monespace@itga.fr</i></td>
</tr>
</tbody>
</table>

</center>
</body>
</html>
