{% include 'themes/itgatheme/templates/mails/header-email.html.twig' %}
    Bonjour,<br />
    <br />
    <p>Les droits d'un compte viennent d'être modifiés</p>
    {{ droit | raw }}
    <br />
    A bientôt.<br />
    L'équipe ITGA
{% include 'themes/itgatheme/templates/mails/footer-email.html.twig' %}